:root{
    --width1:50%;
}

body {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    font-family: "Pretendard";
    margin: 0 auto;
}

.wall {
    width: 100%;
    height: 311px;
    flex-shrink: 0;
    background: #00A863;
    position: relative; /* 추가 */
    z-index: 0;
}

.bottom-wall {
    left: 0;
    right: 0;
    bottom: 0;
    height: 6rem;
    background: #F1F1F1;
    position: fixed; /* 추가 */
    z-index: 1;
}

.bottom-box {
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 6rem;
    width: 430px;
    height: 84px;
    background: #F1F1F1;
    position: fixed; /* 추가 */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    margin-top: 7px;
    cursor: pointer;
}

.bar-content {
    margin-top: 10px;
    color: #000;
    font-family: "Pretendard";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
    text-align: center;
    cursor: pointer;
}


.window {
    min-height: 120vh;
    padding-bottom: 100px;
    width: 430px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    position: absolute;
    padding-bottom: 25vh;
}

.backbox{
    background: #00A863;
    width: 430px;
    height: 311px;
    position: absolute;
    top: 0; /* 추가 */
    left: 50%; /* 추가 */
    transform: translateX(-50%); /* 추가 */
    z-index: 0; /* 추가 */
}

.my {
    position: absolute;
    top: 31px;
    left: 46px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
    color: #ffffff;
}

.back {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 23px;
    width: 9px;
    height: 9px;
    flex-shrink: 0;
    cursor: pointer;
}



/* 기본 세팅 */ 

.t0 {
    margin-top: 108px;
    width: 384px;
    height: 110px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.09);
    position: absolute;
}

.profile {
    margin-top: 13px;
    margin-left: 23px;
    width: 83px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    position: absolute;
}

.profile-title {
    color: #00A863;
    font-family: "Pretendard";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.8px;
    padding-top: 23px;
    padding-left: 128px;
    position: absolute;
}

.profile-sulmyeong {
    color: #00A863;
    font-family: "Pretendard";
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.45px;
    padding-top: 50px;
    padding-left: 128px;
    position: absolute;
}


.tl {
    margin-top: 246px;
    width: 384px;
    height: 478px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.09);
}

.rect {
    text-align: center;
    color: #FFF;
    font-weight: 700;
    margin-top: 19px;
    margin-left: 335px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    background-color: #00A863;
    border-radius: 100%;
    cursor: pointer;
}

.card-img {
    margin-top: 0px;
    margin-left: 151px;
    width: 82px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.sun {
    margin-top: 19px;
    width: 311px;
    height: 1px;
    opacity: 0.5;
    background: #00A863;
}

.ppp {
    margin-left: 52px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
}

span {
    margin-left: 166px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.38px;
}

.info {
    margin-left: 52px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card-info {
    color: #00A863;
    font-family: "Pretendard";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}

.btn {
    margin-left: 54px;
    margin-top: 20px;
    background-color: #FFF;
    width: 276px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #00A863;
    cursor: pointer;
}

.warn-box {
    margin-top: 750px;
    margin-bottom: 56px;
    width: 384px;
    height: 166px;
    flex-shrink: 0;
    position: absolute;
}

.warn {
    width: 19px;
    height: 19px;
    margin-left: 0px;
    flex-shrink: 0;
    display: inline-block; /* 인라인 블록 요소로 설정하여 이미지를 같은 줄에 표시 */
    vertical-align: middle;
}

.warn-content {
    color: #D9D9D9;
    font-family: "Pretendard";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.55px;
    display: inline-block; /* 인라인 블록 요소로 설정하여 텍스트를 같은 줄에 표시 */
    vertical-align: middle;
}


.button1 {
    margin-top: 1000px;
    margin-bottom: 700px;
    width: 384px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: solid 0px #00A863;
    background: #00A863;
    cursor: pointer;
    position: absolute;
}


.quick_menu_container {
    position: fixed;
    width: 145px;
    height: 462px;
    top: 18.721478996840750419283123366746%;
    left: calc(var(--width1) - 387px);
    background-color: #F6F6F6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quick_mystore {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 55px;
}

.quick_editstore {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 55px;
}

.quick_count {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 52px;
}

.quick_help {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 58px;
}


.quick_img_mystore_container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}

.quick_img_mystore {
    max-width: 100%;
    height: auto;
}

.quick_img_editstore_container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}

.quick_img_editstore {
    max-width: 100%;
    height: auto;
}

.quick_img_count_container {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}

.quick_img_count {
    max-width: 100%;
    height: auto;
}

.quick_img_help_container {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}

.quick_img_help {
    max-width: 100%;
    height: auto;
}

.quick_img_mystore_text {
    font-family: "Pretendard";
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: auto;
}

.quick_img_editstore_text {
    font-family: "Pretendard";
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: auto;
}

.quick_img_count_text {
    font-family: "Pretendard";
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: auto;
}

.quick_img_help_text {
    font-family: "Pretendard";
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: auto;
}

.quick_line {
    width: 93px;
    border-color: #D9D9D9;
    border-width: 1px;
    border-style: solid;
    margin-top: 28px;
    margin-bottom: 28px;
}




@media screen and (max-width: 700px) {
    body {
        height: calc(100vh + 100px);
    }
    .quick_menu_container {
        position: fixed;
        width: 100%;
        height: 100px;
        top: calc(100% - 100px);
        left:0px;
        background-color: #F1F1F1;
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .quick_mystore {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: auto;
        height: 55px;
        margin:auto;
    }
    
    .quick_editstore {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: auto;
        height: 55px;
        margin:auto;
    }
    
    .quick_count {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: auto;
        height: 52px;
        margin:auto;
        padding-bottom: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .quick_help {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: auto;
        height: 58px;
        margin:auto;
        padding-left: 6px;
        padding-right: 6px;
    }
    
    
    .quick_img_mystore_container {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 7px;
    }
    
    .quick_img_mystore {
        max-width: 100%;
        height: auto;
    }
    
    .quick_img_editstore_container {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 7px;
    }
    
    .quick_img_editstore {
        max-width: 100%;
        height: auto;
    }
    
    .quick_img_count_container {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 7px;
    }
    
    .quick_img_count {
        max-width: 100%;
        height: auto;
    }
    
    .quick_img_help_container {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 7px;
    }
    
    .quick_img_help {
        max-width: 100%;
        height: auto;
    }
    
    .quick_img_mystore_text {
        font-family: "Pretendard";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.03em;
        text-align: left;
        margin-top: auto;
    }
    
    .quick_img_editstore_text {
        font-family: "Pretendard";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.03em;
        text-align: left;
        margin-top: auto;
    }
    
    .quick_img_count_text {
        font-family: "Pretendard";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.03em;
        text-align: left;
        margin-top: auto;
    }
    
    .quick_img_help_text {
        font-family: "Pretendard";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.03em;
        text-align: left;
        margin-top: auto;
    }
    
    .quick_line {
        width: 0px;
        height: 100%;
        border-color: #D9D9D9;
        border-width: 0px;
        border-style: solid;
    }

    .quickmenu_place{
        width: 100%;
        height: 100px;
    }
}